<section>
  <features-card [side]="'left'" [image]="'assets/images/Screenshot-1.png'" [title]="'Professional Invoice Templates'"
    [text]="'Looking to send an invoice right now? Use our online invoice generator or one of our downloadable, printable and fully customizable invoice templates!'"></features-card>
  <features-card [side]="'right'" [image]="'assets/images/Screenshot-2.png'" [title]="'Online Invoice Generator'"
    [text]="'Use our invoice generator to manage your invoicing from any device, anytime. Your account is always connected and your data is saved securely for you.'"></features-card>
  <features-card [side]="'left'" [image]="'assets/images/Screenshot-3.png'" [title]="'Easy to use Estimate Templates'"
    [text]="'Send estimates immediately to secure new jobs. Convert those estimates to invoices with a touch of a button.'"></features-card>
  <features-card [side]="'right'" [image]="'assets/images/Screenshot-4.png'" [title]="'Online Receipt Maker'"
    [text]="'Once you\'ve received payment, use our receipt maker to create a receipt and send it to clients. Re-use all the details from your invoice or quote to have the receipt ready in seconds.'"></features-card>
</section>