<section>
  <div class="hero-banner">
    <h1>
      Invoice your customers in seconds
    </h1>
    <p>
      The world's simplest way to invoice customers, from your phone or laptop. Save time, stay organized
      and look professional.
    </p>
    <a routerLink="/dashboard">create an invoice now</a>
    <button (click)="checkBackend()">Check</button>
    <p>For contractors, freelancers, owner-operators, creatives, and other small business owners.</p>
  </div>

  <div class="banner-wrapper">
    <img src="assets/images/Group-3.png" alt="Banner Image" />
  </div>
</section>