<footer>
  <div class="footer-inner">
    <div class="footer-content">

      <div class="title-wrapper">
        <h4>Contacts</h4>
        <span>2023 Invoice Simple Foundation.<br /> All rights reserved</span>
      </div>

      <div class="contacts-and-social-media">
        <div class="contacts-wrapper">
          <h4>Headquarters</h4>
          <span>1234 Taliban</span>
          <span>Los Angeles, La 1234567</span>
          <span>(123) 456-7890</span>
        </div>

        <div class="social-medias-wrapper">
          <h4>Social media</h4>
          <div class="social-media-icons">
            <a href="">
              <img src="assets/icons/twitter.svg" alt="twitter">
            </a>
            <a href="">
              <img src="assets/icons/facebook.svg" alt="facebook">
            </a>
            <a href="">
              <img src="assets/icons/linkedIn.svg" alt="linkedIn">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>