<header>
  <div class="container">
    <div class="logo-container">
      <img src="assets/icons/Logo-invoices.svg" />
      <span>Invoice Simple</span>
    </div>

    <div *ngIf="!layout.isMobile">
      <a routerLink="/dashboard">Try it now</a>
    </div>

    <ng-container *ngIf="layout.isMobile">
      <div (click)="toggelBurger()" class="burger" [ngClass]="isOpen ? 'open' : ''">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </ng-container>

    <ng-container >
      <div class="mobile-navigation" [ngClass]="isOpen ? 'open' : ''">
        <ul>
            <li>
                <a routerLink="/dashboard">Try it now</a>
            </li>
        </ul>
    </div>
    </ng-container>

  </div>
  <div class="line"></div>
</header>
